/* Mantém o mesmo estilo das páginas anteriores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --btn-color: rgba(0, 0, 0, 0.785);
    --text-branco: white;
    --font-Style:Roboto;
    --cor-laranja: #ff8800;
    --cor-degrade-laranja: #ff8800a2;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.imgUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

img {
    width: 50px;
}


h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--btn-color);
}

p {
    text-align: center;
    margin-bottom: 30px;
    color: #666;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-section {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: var(--btn-color);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.btn {
    background-color: var(--btn-color);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: center; 
}

button:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px;
        border-radius: none;
        box-shadow: none;
        
    }

    .form-section {
        padding: 10px;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: white;
        color: #333;
    }
}
