* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

:root {
    --btn-color: rgba(0, 0, 0, 0.785);
    --text-branco: white;
    --font-Style:Roboto;
    --cor-laranja: #ff8800;
    --cor-degrade-laranja: #ff8800a2;
    --cor-cinza: rgba(94, 93, 93, 0.228);

}

.container {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    max-width: 1200px;
}

h1 {
    color: var(--btn-color);
    margin-bottom: 10px;
}

.texto {
    color: #ff8800;
    margin-bottom: 10px;
}

p {
    margin-bottom: 30px;
    color: #666;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 2px solid var(--btn-color);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card h2 {
    color: var(--btn-color);
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
    color: #666;
}


.card:hover {
    background-color: var(--cor-cinza);
    border: 4px solid black;
}

/* Responsivo */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}
