@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* Configigurações Gerais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.785);
    max-width: 1200px;
    margin: auto;
}

:root {
    --btn-color:rgba(0, 0, 0, 0.785);
    --text-branco: white;
}

a {
    text-decoration: none;
}

/* Configurações do menu */
header {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    padding:  20px 0px;
    margin: 0px 30px 80px 30px;

}

.btn {
    background-color:var(--btn-color) ;
    text-decoration: none;
    padding: 5px 50px;
    color: var(--text-branco);
    border: 1px solid var(--btn-color);
}

.btn:hover{
    color: black;
    background-color: white;
    border: 2px solid var(--btn-color);
}

.menu{
    display: flex;
    justify-content: space-around;
    gap: 50px;

}

/* Primeira seção */
.primeiraSecao {
    display: flex;
    justify-content: space-between;
    margin: 150px 30px 150px 30px;
    margin-bottom: 100px;

}
section div div h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.imgPrincipal {
    width: 300px;
}

.quadro1 {
    width: 600px;
}

.btnsaibamais{
    color: black;
    background-color: white;
    border: 2px solid var(--btn-color);
}

.btnsaibamais:hover {
    background-color:var(--btn-color) ;
    text-decoration: none;
    padding: 5px 50px;
    color: var(--text-branco);
    border: 1px solid var(--btn-color);
}

/* Segunda Seção */

.secao2{
    margin: 150px 30px 150px 30px;
    background-color: rgba(220, 220, 220, 0.17);
    padding: 30px;
    border-radius: 10px;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.quadro2 {
    margin: 20px;

}

.atores {
    display: flex;
    gap: 100px;
    margin: 70px 30px;
}

.quadro_texto_atores {
    width: 400px;
}


.quadro5 {
    margin: 30px;
    display: flex;
    background-color: rgba(220, 220, 220, 0.17);
    padding: 50px;
    border-radius: 20px;


}

.div_quadro5{
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: space-between;
    gap: 120px;
    padding:  20px 0px;
    margin: 0px 30px 80px 30px;
    border-bottom: 1px solid var(--btn-color);
    
}

.fa-brands {
    margin: 10px;
}